<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <style>
      body {
        text-align: center;
        padding-top: 200px;
      }
      h1 {
        font-size: 60px;
      }

      p {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <H1>404</H1>
    <p>Not Found</p>
  </body>
</html>
